.task-page {
  max-width: 940px;
  margin: 20px auto;
  padding: 2rem;
  border-radius: 0.5rem;
  border-width: 1px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.task-page__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.task-page__btn-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-page__btn-left {
  display: flex;
  gap: 20px;
}

.task-title,
.task-id {
  margin-bottom: 20px;
}

.task-desc {
  margin-bottom: 20px;
}

.error {
  color: rgb(225, 21, 21);
}
