.button {
  font-family: inherit;
  cursor: pointer;
  padding: 7px 10px;
  display: flex;
  gap: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  &:hover {
    background-color: rgb(95, 95, 95);
  }
}
