.task__number {
  width: var(--number-col);
}

.task__title {
  width: var(--title-col);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task__desc {
  max-width: var(--desc-col);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
